fabric==0.9.3
django==1.2.3
-e git+ssh://git@tribune.unfuddle.com/tribune/newsapps.git@ed99a81#egg=newsapps
-e svn+http://geopy.googlecode.com/svn/tags/release-0.93#egg=geopy
django-debug-toolbar
psycopg2
python-memcached
-e git+https://github.com/toastdriven/django-tastypie.git@07575c1ee9#egg=tastypie
python-dateutil
mimeparse
lxml
south=0.7.3
