{% load newsappstags %}

<!doctype html>
<html> 
    <head>    
        <title>You are here.</title> 
        <link rel="stylesheet" type="text/css" href="{% build_media_url '/site_media/css/demo.css' %}" /> 
    </head> 
    <body> 
        <div id="wrap"> 
                <h1 id="page-title">You are here.</h1>
                <div id="form-wrapper">
                    <form id="location-form">
                        <input type="text" id="address" name="address" value="{{ default_search_text }}" />
                        <input type="submit">
                    </form>
                    <a href="javascript:void(0)" id="use-current-location">Use my current location instead</a>
                    <a href="javascript:void(0)" id="not-where-i-am">Wait, that's not where I am</a>
                </div>
                <div id="georesults" class="clearfix">
                    <div id="map_canvas"></div>
                    <p id="resultinfo"> 
                        Waiting for browser ...
                    </p> 
                </div> 
                <div id="area-lookup"></div> 
                
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
                <script type="text/javascript">
                    {{ demo_js }}
                </script> 
        </div> 
    </body> 
</html> 
 
 
 
