{# Omniture #}
{% if settings.ENABLE_OMNITURE %}
<img width="0" height="0" border="0" src="https://bp.specificclick.net?pixid=99017773" class=" cuyfopozpgpuztbxwbzq"/> 
<!-- SiteCatalyst code version: H.1. Copyright 1997-2005 Omniture, Inc. More info available at http://www.omniture.com --> 
<script type="text/javascript" src="http://www.chicagotribune.com/hive/javascripts/metrics/s_code_trb.js"></script> 
<script language="JavaScript"> 
    <!--
     
    s.pageName="{{ page_name }}";
    s.server="www.chicagotribune.com"; 
    s.channel="Chicago Tribune:{{ settings.OMNITURE_SECTION }}:{{ settings.OMNITURE_SUBSECTION }}";

    s.hier1="Chicago Tribune:{{ settings.OMNITURE_SECTION }}:{{ settings.OMNITURE_SUBSECTION }}:{{ settings.OMNITURE_APP_NAME }}"; 
    s.hier2="{{ settings.OMNITURE_SECTION }}:{{ settings.OMNITURE_SUBSECTION }}:{{ settings.OMNITURE_APP_NAME }}";
    s.hier4="{{ settings.OMNITURE_SECTION }}:{{ settings.OMNITURE_SUBSECTION }}:{{ settings.OMNITURE_APP_NAME }}";
        
    //AD Block Detection
    //Description: 	Check if any IMG, IFRAME, or SCRIPT elements are ad blocked (set to not display).
    //		Also check for the occurance of any Norton installed code to block popups or ads ( ie.)SymError ).
    //		Only need to find 1 occurrance of any of the above to confirm ad blocking is used. 
    //		No need to continue searching through other portions of the page.
     
    var imgArray = document.images;
    var iframeArray = document.getElementsByTagName("iframe");
    var scriptArray = document.getElementsByTagName("script");
    var isAdBlocked = 0;
     
     
    if(window.SymError || window.SymWinOpen || window.SymRealWinOpen)
    {	isAdBlocked=1; }
     
    if (!isAdBlocked)
    {	for (var i=0; i<imgArray.length; i++)
        {		if(imgArray[i].style.display == 'none')
            {			isAdBlocked=1;			break;} }	}
     
    if (!isAdBlocked)
    {	for (var j=0; j<iframeArray.length; j++)
        {	if (iframeArray[j].style.display == 'none')
            {			isAdBlocked=1;			break;} }	}
     
    if (!isAdBlocked)
    {	for (var j=0; j<scriptArray.length; j++)
        {		if (scriptArray[j].style.display == 'none')
            {			isAdBlocked=1;			break;} }	}
     
    if(isAdBlocked)
    {	s.prop50="ad blocking";}
     
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code=s.t();if(s_code)document.write(s_code)//--> </script> 
<script language="JavaScript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><!--/DO NOT REMOVE/--> 
<!-- End SiteCatalyst code version: H.1. --> 
 
<!-- START REVENUE SCIENCE PIXELLING CODE --> 
<script src="http://js.revsci.net/gateway/gw.js?csid=B08725"></script><script> 
    DM_addEncToLoc("Site", (s.server));
    DM_addEncToLoc("channel", (s.channel));
    DM_addEncToLoc("keyword", (s.prop3));
    DM_cat(s.hier1);
    DM_tag();
</script> 
<!-- END REVENUE SCIENCE PIXELLING CODE -->
{% endif %}

{# Google Analytics #}
{% if settings.ENABLE_GOOGLE_ANALYTICS %}
<script type="text/javascript">  (function() {
    var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}

{# Chartbeat #}
{% if settings.ENABLE_CHARTBEAT %}
<script type="text/javascript">
    var _sf_async_config={uid:3096,domain:"{{ settings.MY_SITE_DOMAIN }}"};
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
           (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
           "js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
{% endif %}
