{% load newsappstags %}

<!doctype html>
<html> 
<head>
    {% analytics_header %}
    <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="{% build_media_url '/site_media/css/demo.css' %}" /> 
      {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block foot %}{% endblock %}
    {% analytics_footer 'Boundary Service -- Chicago Tribune Labs' %}</body>
</html>
